<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">

            <br />

            <li>
                <a href="/Dashboard/Index/" aria-expanded="false">
                    <i class="fa fa-home"></i><span class="nav-text">Anasayfa</span>
                </a>
            </li>
            <li>
                <a href="/Profile/Index/" aria-expanded="false">
                    <i class="fa fa-user"></i><span class="nav-text">Profilim</span>
                </a>
            </li>
            <li>
                <a href="/Category/CategoryList/" aria-expanded="false">
                    <i class="fa fa-list"></i> <span class="nav-text">Kategoriler</span>
                </a>
            </li>
            <li>
                <a href="/İstatistik/Index/" aria-expanded="false">
                    <i class="fa fa-bar-chart-o"></i><span class="nav-text">İstatistikler</span>
                </a>
            </li>
            <li>
                <a href="/Product/ProductList/" aria-expanded="false">
                    <i class="fa fa-tags"></i> <span class="nav-text">Ürünler</span>
                </a>
            </li>

            <li>
                <a href="/Special/SpecialList/" aria-expanded="false">
                    <i class="fa fa-star"></i> <span class="nav-text">Spesyaller</span>
                </a>
            </li>


            <li>
                <a href="/Chef/ChefList/" aria-expanded="false">
                    <i class="fa fa-fire"></i> <span class="nav-text">Şefler</span>
                </a>
            </li>
            <li>
                <a href="/Event/EventList/" aria-expanded="false">
                    <i class="fa fa-calendar"></i> <span class="nav-text">Etkinlikler</span>
                </a>
            </li>
            <li>
                <a href="/Service/ServiceList/" aria-expanded="false">
                    <i class="fa fa-delicious"></i> <span class="nav-text">Hizmetler</span>
                </a>
            </li>

            <li>
                <a href="/Reservation/ReservationList/" aria-expanded="false">
                    <i class="fa fa-ticket"></i> <span class="nav-text">Rezervasyonlar</span>
                </a>
            </li>
            <li>
                <a href="/Gallery/GalleryList/" aria-expanded="false">
                    <i class="fa fa-photo"></i> <span class="nav-text">Galeri</span>
                </a>
            </li>

            <li>
                <a href="/Testimonial/TestimonialList/" aria-expanded="false">
                    <i class="fa fa-handshake-o"></i> <span class="nav-text">Referanslar</span>
                </a>
            </li>


            <li>
                <a href="/Contact/Index/" aria-expanded="false">
                    <i class="fa fa-envelope menu-icon"></i> <span class="nav-text">Mesajlar</span>
                </a>
            </li>   
            <li>
                <a href="/Notification/NotificationList/" aria-expanded="false">
                    <i class="fa fa-bell menu-icon"></i> <span class="nav-text">Bildirimler</span>
                </a>
            </li>
            <li>
                <a href="/Default/Index/" aria-expanded="false">
                    <i class="fa fa-globe menu-icon"></i> <span class="nav-text">Siteye Git</span>
                </a>
            </li>
            <li>
                <a href="/Login/LogOut/" aria-expanded="false">
                    <i class="icon-logout menu-icon"></i> <span class="nav-text">Çıkış Yap</span>
                </a>
            </li>
        </ul>
    </div>
</div>